{% extends 'base.html' %}
{% load app_tag %}
{% block content %}
<form method="POST" action="" id="demo-form2" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
    <div class="card-body container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <br/>

                            <div class="item form-group d-flex mb-2">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name"> 商品名</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="first-name" class="form-control" name="name" value="{{ object.name }}">
                                </div>
                            </div>
                            <div class="item form-group d-flex mb-2">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">星</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="number" id="last-name" name="star" class="form-control" min="1" max="5" value="{{ object.star }}">
                                </div>
                            </div>
                            <div class="item form-group d-flex mb-2">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">値段</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="middle-name" class="form-control" type="number" name="price" value="{{ object.price }}">
                                </div>
                            </div>
                            <div class="item form-group d-flex mb-2">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name2">商品画像</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="file" id="last-name2" name="image" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group d-flex mb-2">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">割引</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                        <label class="btn" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="is_sale" value="True" class="join-btn"> &nbsp; 有り &nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-4 d-md-block text-center mb-2">
            <a class="btn btn-secondary" role="button" href="{% url 'admin_list'%}">戻る</a>
            <input class="btn btn-success" type="submit" value="編集完了">
        </div>
</form>
{% endblock %}