{% extends 'base.html' %}
{% load app_tag %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">購入履歴詳細</h1>
    <hr>
    <!-- 注文情報 -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>注文情報</h5>
        </div>
        <div class="card-body">
            <p><strong>注文ID:</strong> {{ checkout.id }}</p>
            <p><strong>注文日時:</strong> {{ checkout.created_at|date:"Y-m-d H:i" }}</p>
            <p><strong>合計金額:</strong> ¥{{ checkout.total_price }}</p>
            <p><strong>配送先:</strong> {{ checkout.address1 }} {{ checkout.address2 }}, {{ checkout.city }}, {{ checkout.state }}, {{ checkout.country }}</p>
        </div>
    </div>

    <!-- 購入した商品 -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>購入した商品</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>価格</th>
                        <th>数量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchase_details %}
                    <tr>
                        <td>{{ item.item_name }}</td>
                        <td>¥{{ item.item_price }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end align-items-center mt-3">
                <span class="me-2 text-muted fs-5">合計金額:</span>
                <span class="fw-bold text-danger fs-4">¥{{ total_price }}</span>
            </div>
        </div>
    </div>

    <!-- ボタン -->
    <div class="text-center">
        <a href="{% url 'admin_purchace_list' %}" class="btn btn-secondary">購入履歴一覧に戻る</a>
        <a href="{% url 'menu' %}" class="btn btn-primary">トップページに戻る</a>
    </div>
</div>

{% endblock %}