{% extends 'base.html' %}
{% load app_tag %}
{% block content %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">AI Artifacts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                    <div class="d-flex">
                        <a href="{% url 'cartdetail'%}">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">
                                    {% if item_num_sum == null %}
                                        0
                                    {% else%}
                                        {{ item_num_sum }}
                                    {% endif %}
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">独自のスタイルで、あなただけの画像を。</h1>
                    <p class="lead fw-normal text-white-50 mb-0">最新のAI技術で生成された、ユニークで高品質な画像をお届けします。商用利用も可能な画像を、簡単に購入してダウンロードできます。</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for object in object_list %}
                    <div class="col mb-5">
                            <a href="{% url 'detail' object.pk %}">
                            <div class="card h-100">
                                {% if object.is_sale%}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                {% endif %}
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ object.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ object.name}}</h5>
                                        <!-- Product price-->
                                        {% if object.is_sale%}
                                        <p><s>
                                            ${{object.price}}
                                        </s>
                                            ${{object.price | multiplie:0.6}}
                                        </p>
                                        {% else %}
                                        <p>
                                            ${{ object.price }}
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'addtocart' object.pk %}">Add to cart</a></div>
                                </div>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; django_ec Website 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
{% endblock %}
